---
name: Build feature

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
      - '!main'

permissions:
  contents: 'read'
  pull-requests: 'read'
  checks: 'write'

jobs:
  tests:
    uses: ./.github/workflows/tests.yml

  build:
    needs: tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: '20'
          cache: 'npm'

      - run: npm install

      - name: Run scrapy
        env:
          TOKEN: ${{ secrets.GIT_USER_PAT }}
          OWNER: ${{ github.repository_owner }}
        run: npm run start

      - name: Render markdown
        run: |
          echo "### Markdown" >> $GITHUB_STEP_SUMMARY
          cat profile/README.md >> $GITHUB_STEP_SUMMARY
