---
name: Build feature

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
      - '!main'

permissions:
  contents: 'read'
  pull-requests: 'read'
  checks: 'write'

jobs:
  tests:
    uses: ./.github/workflows/tests.yml

  build:
    needs: tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903
        with:
          node-version: '20'
          cache: 'npm'

      - run: npm install

      - name: Run scrapy
        env:
          TOKEN: ${{ secrets.GIT_USER_PAT }}
          OWNER: ${{ github.repository_owner }}
        run: npm run start

      - name: Render markdown
        run: |
          echo "### Markdown" >> $GITHUB_STEP_SUMMARY
          cat profile/README.md >> $GITHUB_STEP_SUMMARY
