
name: Deploy
on:
  workflow_dispatch:
  push:
    tags-ignore:
      - '*'
    paths:
      - 'profile/README.md'


jobs:
  tests:
    uses: ./.github/workflows/tests.yml

  build:
    needs: tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: '20'
          cache: 'npm'
      - run: npm install

      - name: Run scrapy
        env:
          TOKEN: ${{ secrets.GIT_USER_PAT }}
          OWNER: ${{ github.repository_owner }}
        run: npm run start

      - name: Render markdown
        run: |
          echo "### Markdown" >> $GITHUB_STEP_SUMMARY
          cat profile/README.md >> $GITHUB_STEP_SUMMARY

      - name: Configure git
        run: |
          git config --global user.name "${{ secrets.GIT_USER }}"
          git config --global user.email "${{ secrets.GIT_EMAIL }}"
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_USER_PAT }}
          GITHUB_REPOSITORY: ${{ github.repository }}

      - name: Detect changes
        id: changes
        run: |
          git add .
          if git diff-index --quiet HEAD --; then
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Commit changes
        if: steps.changes.outputs.changed == 'true'
        run: |
          git checkout main
          git commit -m "chore(docs): update readme" --author="zork-bork <${{ secrets.GIT_USER }}>" --signoff
          git pull --rebase
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_USER_PAT }}
