---
name: Scheduled Update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6-12/2 * * *'

permissions:
  contents: 'write'
  pull-requests: 'write'
  checks: 'write'

jobs:
  tests:
    uses: ./.github/workflows/tests.yml

  build:
    needs: tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: '20'
          cache: 'npm'

      - run: npm install

      - name: Configure git
        run: |
          git config --global user.name "${{ secrets.GIT_USER }}"
          git config --global user.email "${{ secrets.GIT_EMAIL }}"

      - name: Run scrapy
        env:
          TOKEN: ${{ secrets.GIT_USER_PAT }}
          OWNER: ${{ github.repository_owner }}
        run: npm run start

      - name: Create pr for readme updates
        run: |
          TITLE="chore: update readme"
          INVENTORY_URL="${{ github.server_url }}/${{ github.repository }}/blob/main/profile/README.md"
          BODY="Updated organisation readme, see [profile/README.md]($INVENTORY_URL)"
          BRANCH_NAME="chore-update-readme-${{ github.run_id }}"
          REPO_URL="${{ github.server_url }}/${{ github.repository }}"
          git pull origin main
          if git diff --quiet profile/README.md; then
            echo "No changes detected in readme"
          else
            git checkout -b "$BRANCH_NAME"
            git add profile/README.md
            git commit -m "chore: update readme" --author="${{ secrets.GIT_USER }} <${{ secrets.GIT_EMAIL }}>" --signoff
            git push --set-upstream origin $BRANCH_NAME
            gh pr create --base main --head $BRANCH_NAME --repo "$REPO_URL" --title "$TITLE" --label "readme-update" \
              --assignee ${{ secrets.GIT_USER }} --body "$BODY"
          fi
        env:
          GH_TOKEN: ${{ secrets.GIT_USER_PAT }}
