---
name: Tests

on:
  workflow_call:

permissions:
  contents: 'read'
  pull-requests: 'read'
  checks: 'write'

jobs:
  source-protection:
    uses: ./.github/workflows/source-protection.yml

  test:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Disable AppArmor
        run: echo 0 | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns

      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f
        with:
          node-version: '20'
          cache: 'npm'
      - run: npm ci

      - name: Test scrapy
        env:
          TOKEN: ${{ secrets.GIT_USER_PAT }}
          OWNER: ${{ github.repository_owner }}
        run: npm test
